/* You can add global styles to this file, and also import other style files */
// @import "primeng/resources/themes/lara-light-blue/theme.css";
@import 'primeng/resources/themes/mdc-light-indigo/theme.css';
@import 'primeng/resources/primeng.css';

@import 'primeicons/primeicons.css';
@import 'assets/common/fonts/icomoon/style.css';
@import 'primeflex/primeflex.css';
// @import 'flag-icons/css/flag-icons.min.css';

// @import '@fullcalendar/core/main.css';
//@import '@fullcalendar/daygrid/main.css';
//@import '@fullcalendar/timegrid/main.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
